40.ans filter=lfs diff=lfs merge=lfs -text
49.ans filter=lfs diff=lfs merge=lfs -text
5.ans filter=lfs diff=lfs merge=lfs -text
3.in filter=lfs diff=lfs merge=lfs -text
46.in filter=lfs diff=lfs merge=lfs -text
5.in filter=lfs diff=lfs merge=lfs -text
39.ans filter=lfs diff=lfs merge=lfs -text
32.ans filter=lfs diff=lfs merge=lfs -text
43.ans filter=lfs diff=lfs merge=lfs -text
14.in filter=lfs diff=lfs merge=lfs -text
15.in filter=lfs diff=lfs merge=lfs -text
8.in filter=lfs diff=lfs merge=lfs -text
17.ans filter=lfs diff=lfs merge=lfs -text
45.in filter=lfs diff=lfs merge=lfs -text
29.ans filter=lfs diff=lfs merge=lfs -text
37.ans filter=lfs diff=lfs merge=lfs -text
46.ans filter=lfs diff=lfs merge=lfs -text
19.in filter=lfs diff=lfs merge=lfs -text
1.in filter=lfs diff=lfs merge=lfs -text
24.in filter=lfs diff=lfs merge=lfs -text
26.in filter=lfs diff=lfs merge=lfs -text
22.in filter=lfs diff=lfs merge=lfs -text
3.ans filter=lfs diff=lfs merge=lfs -text
30.in filter=lfs diff=lfs merge=lfs -text
48.in filter=lfs diff=lfs merge=lfs -text
30.ans filter=lfs diff=lfs merge=lfs -text
33.ans filter=lfs diff=lfs merge=lfs -text
50.in filter=lfs diff=lfs merge=lfs -text
36.ans filter=lfs diff=lfs merge=lfs -text
45.ans filter=lfs diff=lfs merge=lfs -text
47.ans filter=lfs diff=lfs merge=lfs -text
17.in filter=lfs diff=lfs merge=lfs -text
31.in filter=lfs diff=lfs merge=lfs -text
34.in filter=lfs diff=lfs merge=lfs -text
43.in filter=lfs diff=lfs merge=lfs -text
7.in filter=lfs diff=lfs merge=lfs -text
34.ans filter=lfs diff=lfs merge=lfs -text
50.ans filter=lfs diff=lfs merge=lfs -text
18.in filter=lfs diff=lfs merge=lfs -text
27.in filter=lfs diff=lfs merge=lfs -text
35.in filter=lfs diff=lfs merge=lfs -text
47.in filter=lfs diff=lfs merge=lfs -text
13.ans filter=lfs diff=lfs merge=lfs -text
2.ans filter=lfs diff=lfs merge=lfs -text
10.in filter=lfs diff=lfs merge=lfs -text
2.in filter=lfs diff=lfs merge=lfs -text
7.ans filter=lfs diff=lfs merge=lfs -text
22.ans filter=lfs diff=lfs merge=lfs -text
41.ans filter=lfs diff=lfs merge=lfs -text
44.ans filter=lfs diff=lfs merge=lfs -text
8.ans filter=lfs diff=lfs merge=lfs -text
29.in filter=lfs diff=lfs merge=lfs -text
6.in filter=lfs diff=lfs merge=lfs -text
9.in filter=lfs diff=lfs merge=lfs -text
11.ans filter=lfs diff=lfs merge=lfs -text
9.ans filter=lfs diff=lfs merge=lfs -text
12.ans filter=lfs diff=lfs merge=lfs -text
18.ans filter=lfs diff=lfs merge=lfs -text
19.ans filter=lfs diff=lfs merge=lfs -text
25.ans filter=lfs diff=lfs merge=lfs -text
16.in filter=lfs diff=lfs merge=lfs -text
33.in filter=lfs diff=lfs merge=lfs -text
40.in filter=lfs diff=lfs merge=lfs -text
4.in filter=lfs diff=lfs merge=lfs -text
38.ans filter=lfs diff=lfs merge=lfs -text
4.ans filter=lfs diff=lfs merge=lfs -text
13.in filter=lfs diff=lfs merge=lfs -text
21.in filter=lfs diff=lfs merge=lfs -text
36.in filter=lfs diff=lfs merge=lfs -text
42.ans filter=lfs diff=lfs merge=lfs -text
16.ans filter=lfs diff=lfs merge=lfs -text
21.ans filter=lfs diff=lfs merge=lfs -text
26.ans filter=lfs diff=lfs merge=lfs -text
28.ans filter=lfs diff=lfs merge=lfs -text
12.in filter=lfs diff=lfs merge=lfs -text
25.in filter=lfs diff=lfs merge=lfs -text
42.in filter=lfs diff=lfs merge=lfs -text
14.ans filter=lfs diff=lfs merge=lfs -text
15.ans filter=lfs diff=lfs merge=lfs -text
35.ans filter=lfs diff=lfs merge=lfs -text
11.in filter=lfs diff=lfs merge=lfs -text
32.in filter=lfs diff=lfs merge=lfs -text
49.in filter=lfs diff=lfs merge=lfs -text
10.ans filter=lfs diff=lfs merge=lfs -text
6.ans filter=lfs diff=lfs merge=lfs -text
37.in filter=lfs diff=lfs merge=lfs -text
38.in filter=lfs diff=lfs merge=lfs -text
24.ans filter=lfs diff=lfs merge=lfs -text
31.ans filter=lfs diff=lfs merge=lfs -text
41.in filter=lfs diff=lfs merge=lfs -text
44.in filter=lfs diff=lfs merge=lfs -text
1.ans filter=lfs diff=lfs merge=lfs -text
20.ans filter=lfs diff=lfs merge=lfs -text
20.in filter=lfs diff=lfs merge=lfs -text
23.in filter=lfs diff=lfs merge=lfs -text
28.in filter=lfs diff=lfs merge=lfs -text
39.in filter=lfs diff=lfs merge=lfs -text
23.ans filter=lfs diff=lfs merge=lfs -text
27.ans filter=lfs diff=lfs merge=lfs -text
48.ans filter=lfs diff=lfs merge=lfs -text
